.p-home__banner {
  padding: 16px 0 41px;
}

.p-home__banner-sup-title {
  margin-bottom: 10px;
}

.p-home__banner-title {
  margin-bottom: 20px;
}

.p-home__banner-text {
  margin-bottom: 44px;
}

.p-home__banner-button {
  padding: 16px 38px 17px;
}
